<%- include('_header'); -%>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


  <div id="mydiv" data-test=<%=s3data %>></div>



  <body onLoad="buildHtmlTable('#excelDataTable')">
    <table id="excelDataTable" border="1" style="width: 200%; align-items: center;"

    </table>
  </body>


  <%- include('_footer'); -%>

    <script>

      var array = document.getElementById('mydiv').dataset.test

      var parsedS3Array = [];

      console.log("Array: " + array)

      var jsonData = JSON.parse(array);

      for (var i = 0; i < jsonData.length; i++) {
        var obj = jsonData[i];

        const s3SplitFileObject = new Object();
        s3SplitFileObject.activity = obj.activity
        s3SplitFileObject.currentMemoryUsage = obj.currentMemoryUsage
        s3SplitFileObject.currentNetworkBandwidth = obj.currentNetworkBandwidth
        s3SplitFileObject.currentNetworkType = obj.currentNetworkType
        s3SplitFileObject.currentStorageAvailable = obj.currentStorageAvailable
        s3SplitFileObject.error = obj.error
        s3SplitFileObject.errorCount = obj.errorCount
        s3SplitFileObject.modelName = obj.modelName
        s3SplitFileObject.osName = obj.osName
        s3SplitFileObject.osVersion = obj.osVersion
        s3SplitFileObject.ramTotal = obj.ramTotal
        s3SplitFileObject.storageTotal = obj.storageTotal

        parsedS3Array.push(s3SplitFileObject)

      }




      // Builds the HTML Table out of myList.
      function buildHtmlTable(selector) {

        //console.log("array in function: " + parsedS3Array)
        var columns = addAllColumnHeaders(parsedS3Array, selector);

        for (var i = 0; i < parsedS3Array.length; i++) {
          var row$ = $('<tr/>');
          for (var colIndex = 0; colIndex < columns.length; colIndex++) {
            var cellValue = parsedS3Array[i][columns[colIndex]];
            if (cellValue == null) cellValue = "";
            row$.append($('<td/>').html(cellValue));
          }
          $(selector).append(row$);
        }
      }

      // Adds a header row to the table and returns the set of columns.
      // Need to do union of keys from all records as some records may not contain
      // all records.
      function addAllColumnHeaders(parsedS3Array, selector) {
        var columnSet = [];
        var headerTr$ = $('<tr/>');

        for (var i = 0; i < parsedS3Array.length; i++) {
          var rowHash = parsedS3Array[i];
          for (var key in rowHash) {
            if ($.inArray(key, columnSet) == -1) {
              columnSet.push(key);
              headerTr$.append($('<th/>').html(key));
            }
          }
        }
        $(selector).append(headerTr$);

        return columnSet;
      }

    </script>


    </body>

    </html>